# Local .terraform directories
.terraform/

# Terraform state files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Exclude override files as they are usually for local use only
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform variable files containing sensitive data
*.tfvars
*.tfvars.json

# Terraform plan output
*.plan

# CLI configuration files
.terraformrc
terraform.rc